// Specific CSS for your home-page
@import 'components/index';

.search-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

// body {
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100vh;
// }
