<div class="navbar navbar-expand-sm navbar-light navbar-lewagon nav-white">
  <a class="navbar-brand" style="margin-top: 5px" href="/">
    <h3>VANTASTIC</h3>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="/vans/new">Offer Your Van</a> -->
        <a class="btn btn-ghost" href="/vans/new">Offer My Van</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li> -->
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://images.unsplash.com/photo-1603072007571-7295a309e45f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/bookings">My Trips</a>
          <a class="dropdown-item" href="/bookings/my_offers">My Van to Rent</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Messages</a>
          <a class="dropdown-item" href="#">About Vantastic</a>
        </div>
      </li>
    </ul>
  </div>
</div>
