<%= render 'shared/navbar-home' %>
<div class="banner">
  <div class="container">
    <h1>Find or share a <strong>camper van</strong> for a short-trip or weekend getaway</h1>
    <%= render 'shared/search-home' %>
  </div>
</div>
<%= render 'shared/footer' %>
