<%= render 'shared/navbar-home' %>
<div class="banner">
  <div class="container">
    <h1>Find a camper van for a short-trip or weekend getaway</h1>
    <h2>Or share yours with other trusted van lovers around you.</h2>
    <%= render 'shared/search-home' %>
  </div>
</div>
