.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.nav-transparent {
  background: transparent;

  h3 {
    font-weight: bold;
    color: $white;
    font-style: italic;
  }
}

.nav-white {
  background: $white;

  h3 {
    font-weight: bold;
    color: $darkgrey;
    font-style: italic;
  }

}

.nav-link-home {
  color: $white;
  font-weight: normal;
}

.btn-ghost-home {
  color: $white;
  border: 1px solid $white;
  padding: 8px 24px;
  margin-right: 20px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost-home:hover {
  opacity: 1;
  color: $darkgrey;
  background-color: $white
}

.btn-ghost {
  color: $darkgrey;
  border: 1px solid $darkgrey;
  padding: 8px 24px;
  margin-right: 20px;
  border-radius: 50px;
  font-weight: normal;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: $white;
  background-color: $darkgrey
}
